h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Inter;
    font-weight: 400;
    color: white;
  }

  .containerHeader {
    height: 120px;
    background: var(--blue400);
    padding-top: 20px;
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family: Inter;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12px;
}

li {
    color: inherit;
    text-decoration: none;
  }
  
  li {
    background:
      linear-gradient(
        to right,
        rgba(100, 200, 200, 0),
        rgba(100, 200, 200, 0)
      ),
      linear-gradient(
        to right,
        rgb(255, 255, 255),
        rgb(44, 255, 174),
        rgb(255, 18, 18)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
    cursor: pointer;
  }
  
  li:hover {
    background-size: 0 3px, 100% 3px;
  }
  

  .form-1 {
      max-width: 1280px;
      align-items: center;
      justify-content: center;
      margin: 0 auto; 
  }

  .full-container h1 {
      color: #1b1b1b;
      padding: 60px 0 20px 0
  }

  .form-1 input {
      display: block;
      margin-bottom: 3rem;
      height: 56px;
      border:none;
      border-bottom: 1px solid #000;
      outline:none;
      font-family: Inter;
      margin-top: 60px;
      margin-left: 320px;
  }

  .form-2 {
    max-width: 1280px;
    align-items: center;
    justify-content: center;
    margin-top: 117px;
}

.form-2 input {
    display: block;
    height: 56px;
    border:none;
    border-bottom: 1px solid #000;
    outline:none;
    font-family: Inter;
    margin-top: -173px;
    margin-left: 1050px;
}

.button {
    position: absolute;
    bottom: 200px;
    left: 570px;
}

.button button {
    margin-left: 100px;
    height: 56px;
    width: 210px;
    border: none;
    font-size: 16px;
    font-family: Inter;
    background-color: #1B1B1B;
    color: #fff;
    cursor: pointer;
}

.button button:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: #ffffff;
    color: #1B1B1B;
    transition: 0.5s;
}